<footer class="footer mt-auto py-3 bg-body-tertiary d-flex justify-content-center align-items-center flex-column">
  <div class="containers">
      <div class="row">
          <div class="col-md-6">
              <p>&copy; 2024 Avaas. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-md-end">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a href="https://www.facebook.com/your_facebook_page"><i class="fa-brands fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/your_linkedin_profile"><i class="fa-brands fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.instagram.com/h_ardikmadaan"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-md-6">
              <ul class="list-inline">
                  <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="/terms">Terms of Service</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>

  